
#titulomodulos, #conquistas, #recompensas, #ajuda, #faq, #perfil {
	font-size: 20px!important;
	font-style: normal!important;
}

#nome-modulo-um, #nome-modulo-dois, #nome-modulo-tres, #nome-modulo-quatro, #nome-modulo-cinco, #nome-modulo-bonus  {
	font-size: 18px!important;
	font-style: normal!important;
}

#moduloum, #modulodois, #modulotres, #moduloquatro, #modulocinco, #modulobonus {
	font-size: 16px!important;
	list-style: none!important;
	font-style: normal!important;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 55%;
    height: 15px;
    background-color: green;
}

#lista-modulos {
	list-style: none;
}

.nopadding-esq {
	padding-left: 0!important;
}

#tituloPrincipal {
	padding-right: 990px;
	padding-left: 20px;
	background-color: #D8D8D8;
}

.menu-lateral {
	text-align: center;
}

body {
background-color: white;
}

a:hover, a:active {
	text-decoration: none!important;
}



#tela-login {
	margin-right: : 0px;
}


#menu-lateral {
	width: 30%;
	margin: 0; padding: 0;
	float: left;
}

#menu-lateral ul li {
		margin: 0; padding: 0px;
		border-bottom: 1px solid #CCC;
		text-align: left;
		list-style-type: none;
}

#menu-lateral a:link {
		background: #F5F5F5;
		color: #666;
		font-weight: bold;
		text-decoration: none;
		padding: 8px;
		display: block;
}

#menu-lateral a:hover {
		background: #E5F0FF;
		color: #039;
}